<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Quests</title>
    <style>
        body {
        background-image :  url("https://preview.redd.it/akfqd7mvcss51.jpg?auto=webp&s=366856bdf57a60aff9a139835a8f36c3ce60fff8");
        height: 100%;
        width: 100%;
        background-position: cover;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-attachment: fixed;
        }
        table { background-color: white; }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <div class="row col-md-10 d-inline">
        <h2>My Published Quests</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Reward</th>
            <th>Solutions</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "quest : ${quests}">
            <td th:text = "${quest.title}"></td>
            <td th:text = "${quest.reward}"></td>
            <td>
                <a th:href="@{/quests/solutions/{id}(id=${quest.id})}" class="btn btn-primary">
                    <i class="fas fa-eye ml-2"></i>
                </a>
            </td>
            <td>
                <a th:href="@{/quests/remove-quest/{id}(id=${quest.id})}" class="btn btn-danger">
                    <i class="fas fa-user-times ml-2"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row col-md-2 d-inline">
        <a th:href="@{/quests/add-quest}" class="btn btn-primary">Add Quest</a>
    </div>
</div>
</body>
</html>