<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container my-2">
  <div class="card">
    <div class="card-body">
      <!-- Checks if we found a book with searched id -->
      <div th:switch="${quest}" class="container my-5">
        <div class="col-md-12">
          <!-- If there is one, create a table that will show all the details -->
          <table class="table table-striped table-responsive-md">
            <tr>
              <td>Title</td>
              <td th:text="${quest.title}"></td>
            </tr>
            <tr>
              <td>Task</td>
              <td th:text="${quest.description}"></td>
            </tr>
            <tr>
              <td>Reward</td>
              <td th:text="${quest.reward}"></td>
            </tr>
            <tr>
              <td>Author</td>
              <td th:text="${quest.author}"></td>
            </tr>
          </table>
          <a th:href="@{/quests/add-solution/{id}(id=${quest.id})}">Add Solution</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>