<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container my-2">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Adventurer Card</h2>
    </div>
    <div class="card-body">
      <div th:switch="${user}" class="container my-5">
        <div class="col-md-12">
          <table class="table table-striped table-responsive-md">
            <tr>
              <td>Adventurer Title</td>
              <td th:text="${user.username}"></td>
            </tr>
            <tr>
              <td>Email</td>
              <td th:text="${user.email}"></td>
            </tr>
            <tr>
              <td>Tokens</td>
              <td th:text="${user.tokens}"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>